* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(to bottom right, #1738aa, darkblue);
  height: 100vh;
  padding: 20px;
}
